<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
</head>
<body>
    <div id="app">
        <input type="button" value="テストデータ入力" v-on:click="insertTestData" /><br />
        残金<input type="text" v-model="remaining">円<br />
        利率<input type="text" v-model="rate">%<br />
        <input type="button" value="計算する" v-on:click="onclick" /><br />
        <template v-if="isShow">
            <table border="1">
                <tr>
                    <th>支払い月</th>
                    <th>支払い金額</th>
                    <th>利息</th>
                    <th>残金</th>
                </tr>
                <tr v-for="row in data" :key="row.ym">
                    <td>{{ row.ym }}</td>
                    <td>{{ row.paid }}</td>
                    <td>{{ row.interest }}</td>
                    <td>{{ row.remaining }}</td>
                </tr>
            </table>
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
    <script src="js/index.js"></script>
</body>
</html>