.idea

django_docker/mysql/
django_docker/src/app/__pycache__/
django_docker/src/node_modules/
django_docker/src/view_html/__pycache__/
django_docker/static/admin/
django_docker/src/view_html/migrations/
django_docker/nginx/log/
django_docker/python/log/
django_docker/src/api/__pycache__/
django_docker/src/api/migrations/
sql/logs
sql/2chapter/__pycache__
sql/__pycache__
