.idea

django_docker/mysql/
django_docker/src/app/__pycache__/
django_docker/src/node_modules/
django_docker/src/view_html/__pycache__/
django_docker/static/admin/
django_docker/src/view_html/migrations/
django_docker/nginx/log/
django_docker/python/log/
django_docker/src/api/__pycache__/
django_docker/src/api/migrations/
django_docker/src/app/static/
sql/logs
sql/2chapter/__pycache__
sql/__pycache__
react/react_app/node_modules/
react/react_todo/node_modules/
api/nginx/log/
api/python/log/
api/python/src/mysite/__pycache__/
api/python/src/api/__pycache__/
api/python/src/api/migrations/
api/python/src/static/
api/mysql/data/
api/mysql/logs/
django/mysql/data/
django/mysql/logs/
django/python/log/
django/python/src/djangosnippets/__pycache__/
django/python/src/snippets/__pycache__/
django/python/src/snippets/migrations/
django/python/src/debug.log
django/python/src/test.log
django_api/python/api/__pycache__/
django_api/python/app/__pycache__/
django_api/python/insta/__pycache__/
django_insta_api/python/src/api_insta/__pycache__/
django_insta_api/python/src/api/__pycache__/
django_insta_api/python/src/api/migrations/__pycache__/
django_insta_api/python/src/db.sqlite3
django_insta_api/python/src/media/
django_api/python/app/migrations/
django_api/python/db.sqlite3
django_nextjs_api/python/src/db.sqlite3
django_nextjs_api/python/src/.env
django_nextjs_api/python/src/rest_api/__pycache__/
django_nextjs_api/python/src/api/__pycache__
django_nextjs_api/python/src/api/migrations/
wordpress/pass
wordpress/html
wordpress/220428_html
vue/app/vue_basic/chap3/images
typescript-app/app/node_modules/
typescript-node/app/node_modules/
nodejs/app/03_npm/010_intro/start/node_modules/
nodejs/app/03_npm/020_dep_vs_devDep/start/node_modules/
nodejs/app/03_npm/030_npm_install/node_modules/
nodejs/app/03_npm/040_npm_script/start/node_modules/
nodejs/app/04_automation/999_demo/node_modules
nodejs/app/04_automation/999_demo/.next
nodejs/app/04_automation/node_modules