.idea

django_docker/mysql/
django_docker/src/app/__pycache__/
django_docker/src/node_modules/
django_docker/src/view_html/__pycache__/
django_docker/static/admin/
django_docker/src/view_html/migrations/
django_docker/nginx/log/
django_docker/python/log/
django_docker/src/api/__pycache__/
django_docker/src/api/migrations/
django_docker/src/app/static/
sql/logs
sql/2chapter/__pycache__
sql/__pycache__
react/react_app/node_modules/
react/react_todo/node_modules/
api/nginx/log/
api/python/log/
api/python/src/mysite/__pycache__/
api/python/src/api/__pycache__/
api/python/src/api/migrations/
api/python/src/static/
api/mysql/data/
api/mysql/logs/
django/mysql/data/
django/mysql/logs/
django/python/log/
django/python/src/djangosnippets/__pycache__/
django/python/src/snippets/__pycache__/
django/python/src/snippets/migrations/
django/python/src/debug.log
django/python/src/test.log
django_api/python/api/__pycache__/
django_api/python/app/__pycache__/
django_api/python/insta/__pycache__/
django_insta_api/python/src/api_insta/__pycache__/
django_insta_api/python/src/db.sqlite3
django_api/python/app/migrations/
django_api/python/db.sqlite3